.DS_Store

train/images/inlet_valves10.jpg
train/images/inlet_valves12.jpg
train/images/inlet_valves13.jpg
train/images/inlet_valves14.jpg
train/images/inlet_valves15.jpg
train/images/inlet_valves16.jpg
train/images/inlet_valves18.jpg
train/images/inlet_valves19.jpg
train/images/inlet_valves2.jpg
train/images/inlet_valves20.jpg
train/images/inlet_valves21.jpg
train/images/inlet_valves22.jpg
train/images/inlet_valves23.jpg
train/images/inlet_valves24.jpg
train/images/inlet_valves25.jpg
train/images/inlet_valves26.jpg
train/images/inlet_valves27.jpg
train/images/inlet_valves28.jpg
train/images/inlet_valves29.jpg
train/images/inlet_valves3.jpg
train/images/inlet_valves30.jpg
train/images/inlet_valves31.jpg
train/images/inlet_valves32.jpg
train/images/inlet_valves33.jpg
train/images/inlet_valves34.jpg
train/images/inlet_valves35.jpg
train/images/inlet_valves36.jpg
train/images/inlet_valves37.jpg
train/images/inlet_valves38.jpg
train/images/inlet_valves39.jpg
train/images/inlet_valves40.jpg
train/images/inlet_valves41.jpg
train/images/inlet_valves42.jpg
train/images/inlet_valves43.jpg
train/images/inlet_valves44.jpg
train/images/inlet_valves45.jpg
train/images/inlet_valves46.jpg
train/images/inlet_valves48.jpg
train/images/inlet_valves49.jpg
train/images/inlet_valves5.jpg
train/images/inlet_valves50.jpg
train/images/inlet_valves52.jpg
train/images/inlet_valves53.jpg
train/images/inlet_valves54.jpg
train/images/inlet_valves6.jpg
train/images/inlet_valves7.jpg
train/images/inlet_valves8.jpg
train/images/inlet_valves9.jpg
train/images/lever1.jpg
train/images/lever10.jpg
train/images/lever11.jpg
train/images/lever13.jpg
train/images/lever14.jpg
train/images/lever15.jpg
train/images/lever16.jpg
train/images/lever17.jpg
train/images/lever18.jpg
train/images/lever19.jpg
train/images/lever2.jpg
train/images/lever20.jpg
train/images/lever21.jpg
train/images/lever22.jpg
train/images/lever23.jpg
train/images/lever24.jpg
train/images/lever25.jpg
train/images/lever26.jpg
train/images/lever27.jpg
train/images/lever28.jpg
train/images/lever29.jpg
train/images/lever30.jpg
train/images/lever31.jpg
train/images/lever32.jpg
train/images/lever33.jpg
train/images/lever34.jpg
train/images/lever35.jpg
train/images/lever36.jpg
train/images/lever37.jpg
train/images/lever38.jpg
train/images/lever39.jpg
train/images/lever4.jpg
train/images/lever40.jpg
train/images/lever41.jpg
train/images/lever43.jpg
train/images/lever44.jpg
train/images/lever45.jpg
train/images/lever48.jpg
train/images/lever49.jpg
train/images/lever5.jpg
train/images/lever50.jpg
train/images/lever51.jpg
train/images/lever52.jpg
train/images/lever53.jpg
train/images/lever54.jpg
train/images/lever55.jpg
train/images/lever56.jpg
train/images/lever58.jpg
train/images/lever59.jpg
train/images/lever6.jpg
train/images/lever60.jpg
train/images/lever61.jpg
train/images/lever62.jpg
train/images/lever64.jpg
train/images/lever65.jpg
train/images/lever7.jpg
train/images/lever8.jpg
train/images/lever9.jpg
train/images/pressure_sensor101.jpg
train/images/pressure_sensor103.jpg
train/images/pressure_sensor104.jpg
train/images/pressure_sensor107.jpg
train/images/pressure_sensor108.jpg
train/images/pressure_sensor109.jpg
train/images/pressure_sensor110.jpg
train/images/pressure_sensor111.jpg
train/images/pressure_sensor112.jpg
train/images/pressure_sensor113.jpg
train/images/pressure_sensor114.jpg
train/images/pressure_sensor115.jpg
train/images/pressure_sensor116.jpg
train/images/pressure_sensor117.jpg
train/images/pressure_sensor118.jpg
train/images/pressure_sensor119.jpg
train/images/pressure_sensor120.jpg
train/images/pressure_sensor121.jpg
train/images/pressure_sensor122.jpg
train/images/pressure_sensor123.jpg
train/images/pressure_sensor124.jpg
train/images/pressure_sensor125.jpg
train/images/pressure_sensor126.jpg
train/images/pressure_sensor127.jpg
train/images/pressure_sensor128.jpg
train/images/pressure_sensor129.jpg
train/images/pressure_sensor130.jpg
train/images/pressure_sensor131.jpg
train/images/pressure_sensor132.jpg
train/images/pressure_sensor133.jpg
train/images/pressure_sensor134.jpg
train/images/pressure_sensor135.jpg
train/images/pressure_sensor136.jpg
train/images/pressure_sensor137.jpg
train/images/pressure_sensor138.jpg
train/images/pressure_sensor139.jpg
train/images/pressure_sensor140.jpg
train/images/pressure_sensor141.jpg
train/images/pressure_sensor142.jpg
train/images/pressure_sensor143.jpg
train/images/pressure_sensor144.jpg
train/images/pressure_sensor145.jpg
train/images/pressure_sensor146.jpg
train/images/pressure_sensor147.jpg
train/images/pressure_sensor148.jpg
train/images/pressure_sensor149.jpg
train/images/pressure_sensor151.jpg
train/images/pressure_sensor152.jpg
train/images/pressure_sensor154.jpg
train/images/pressure_sensor156.jpg
train/images/pressure_sensor157.jpg
train/images/pressure_sensor158.jpg
train/images/pressure_sensor159.jpg
train/images/pressure_sensor160.jpg
train/images/pressure_sensor161.jpg
train/images/pressure_sensor162.jpg
train/images/pressure_sensor163.jpg
train/images/pressure_sensor165.jpg
train/images/pressure_sensor166.jpg
train/images/pressure_sensor167.jpg
train/images/pressure_sensor168.jpg
train/images/pressure_sensor169.jpg
train/images/pressure_sensor170.jpg
train/images/pressure_sensor171.jpg
train/images/pressure_sensor172.jpg
train/images/pressure_sensor173.jpg
train/images/pressure_sensor174.jpg
train/images/pressure_sensor175.jpg
train/images/pressure_sensor176.jpg
train/images/pressure_sensor177.jpg
train/images/pressure_sensor179.jpg
train/images/pressure_sensor180.jpg
train/images/pressure_sensor181.jpg
train/images/pressure_sensor182.jpg
train/images/pressure_sensor183.jpg
train/images/pressure_sensor184.jpg
train/images/pressure_sensor185.jpg
train/images/pressure_sensor186.jpg
train/images/pressure_sensor187.jpg
train/images/pressure_sensor188.jpg
train/images/pressure_sensor189.jpg
train/images/pressure_sensor190.jpg
train/images/pressure_sensor191.jpg
train/images/pressure_sensor193.jpg
train/images/pressure_sensor194.jpg
train/images/pressure_sensor195.jpg
train/images/pressure_sensor196.jpg
train/images/pressure_sensor197.jpg
train/images/pressure_sensor199.jpg
train/images/pressure_sensor200.jpg
train/images/pressure_sensor201.jpg
train/images/pressure_sensor202.jpg
train/images/pressure_sensor203.jpg
train/images/pressure_sensor204.jpg
train/images/pressure_sensor205.jpg
train/images/pressure_sensor206.jpg
train/images/pressure_sensor207.jpg
train/images/pressure_sensor208.jpg
train/images/pressure_sensor210.jpg
train/images/pressure_sensor211.jpg
train/images/pressure_sensor212.jpg
train/images/pressure_sensor213.jpg
train/images/pressure_sensor214.jpg
train/images/pressure_sensor216.jpg
train/images/pressure_sensor217.jpg
train/images/pressure_sensor218.jpg
train/images/pressure_sensor219.jpg
train/images/pressure_sensor220.jpg
train/images/pressure_sensor221.jpg
train/images/pressure_sensor222.jpg
train/images/pressure_sensor223.jpg
train/images/pressure_sensor224.jpg
train/images/pressure_sensor225.jpg
train/images/pressure_sensor226.jpg
train/images/pressure_sensor228.jpg
train/images/pressure_sensor229.jpg
train/images/pressure_sensor230.jpg
train/images/pressure_sensor231.jpg
train/images/pressure_sensor232.jpg
train/images/pressure_sensor233.jpg
train/images/pressure_sensor234.jpg
train/images/pressure_sensor235.jpg
train/images/pressure_sensor236.jpg
train/images/pressure_sensor237.jpg
train/images/pressure_sensor238.jpg
train/images/pressure_sensor241.jpg
train/images/pressure_sensor243.jpg
train/images/pressure_sensor244.jpg
train/images/pressure_sensor245.jpg
train/images/pressure_sensor246.jpg
train/images/pressure_sensor247.jpg
train/images/pressure_sensor248.jpg
train/images/pressure_sensor249.jpg
train/images/pressure_sensor250.jpg
train/images/pressure_sensor251.jpg
train/images/pressure_sensor252.jpg
train/images/pressure_sensor253.jpg
train/images/pressure_sensor256.jpg
train/images/pressure_sensor257.jpg
train/images/pressure_sensor258.jpg
train/images/pressure_sensor260.jpg
train/images/pressure_sensor262.jpg
train/images/pressure_sensor263.jpg
train/images/pressure_sensor264.jpg
train/images/pressure_sensor265.jpg
train/images/pressure_sensor266.jpg
train/images/pressure_sensor268.jpg
train/images/pressure_sensor269.jpg
train/images/Pressure_sensor66.jpg
train/images/Pressure_sensor67.jpg
train/images/Pressure_sensor68.jpg
train/images/Pressure_sensor69.jpg
train/images/Pressure_sensor70.jpg
train/images/Pressure_sensor71.jpg
train/images/Pressure_sensor72.jpg
train/images/Pressure_sensor73.jpg
train/images/Pressure_sensor74.jpg
train/images/Pressure_sensor75.jpg
train/images/Pressure_sensor76.jpg
train/images/Pressure_sensor77.jpg
train/images/Pressure_sensor78.jpg
train/images/Pressure_sensor79.jpg
train/images/Pressure_sensor81.jpg
train/images/Pressure_sensor82.jpg
train/images/Pressure_sensor83.jpg
train/images/Pressure_sensor84.jpg
train/images/Pressure_sensor85.jpg
train/images/Pressure_sensor86.jpg
train/images/Pressure_sensor87.jpg
train/images/Pressure_sensor88.jpg
train/images/Pressure_sensor89.jpg
train/images/pressure_sensor90.jpg
train/images/pressure_sensor91.jpg
train/images/pressure_sensor92.jpg
train/images/pressure_sensor93.jpg
train/images/pressure_sensor94.jpg
train/images/pressure_sensor95.jpg
train/images/pressure_sensor96.jpg
train/images/pressure_sensor97.jpg
train/images/pressure_sensor98.jpg
train/images/pressure_sensor99.jpg
train/images/pressure_switch_1_1.jpg
train/images/pressure_switch_1_10.jpg
train/images/pressure_switch_1_12.jpg
train/images/pressure_switch_1_14.jpg
train/images/pressure_switch_1_16.jpg
train/images/pressure_switch_1_17.jpg
train/images/pressure_switch_1_18.jpg
train/images/pressure_switch_1_20.jpg
train/images/pressure_switch_1_21.jpg
train/images/pressure_switch_1_22.jpg
train/images/pressure_switch_1_23.jpg
train/images/pressure_switch_1_24.jpg
train/images/pressure_switch_1_25.jpg
train/images/pressure_switch_1_26.jpg
train/images/pressure_switch_1_28.jpg
train/images/pressure_switch_1_29.jpg
train/images/pressure_switch_1_3.jpg
train/images/pressure_switch_1_30.jpg
train/images/pressure_switch_1_31.jpg
train/images/pressure_switch_1_32.jpg
train/images/pressure_switch_1_33.jpg
train/images/pressure_switch_1_34.jpg
train/images/pressure_switch_1_35.jpg
train/images/pressure_switch_1_36.jpg
train/images/pressure_switch_1_37.jpg
train/images/pressure_switch_1_38.jpg
